body {
    margin: 0;
    width: 100%;
    height: 100%;
}

body > div {
    height: 100%;
    width: 100%;
    position: absolute;
}

body > div > div {
    width: 100%;
    height: 100%;
    position: absolute;
}
